<div class="container-sm mt-4">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search" class="form-label">Tìm kiếm</label>
            <input type="text" name="q" class="form-control" placeholder="Nhập từ khóa">
        </div>
        <select name="gender" class="form-select">
        <option>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>